<div class="inner">
    <div id="users">
        <div class="header">
            Peers
            <a class="addBtn" ng-click="discoverPeers()">
                <i class="material-icons">wifi_tethering</i>
                <span>Discover Peers</span>
            </a>
        </div>
        <div class="body">
            <form class="form" name="peerForm" novalidate role="form">
                <div class="form_elem">
                    <div class="input_elem" ng-class="{ 'has-error' : peerForm.$invalid && peerForm.$dirty }">
                        <label for="new_user">Add New Peer's IP Address</label>
                        <input ng-keyup="$event.keyCode === 13 && peerForm.$valid ? addNewPeer($event, new_peer_ip) : ''" 
                               pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" 
                               name="ip" 
                               ng-model="new_peer_ip"
                               type="text"
                               placeholder="e.g. 10.0.0.103"
                               required>
                    </div>
                    <p ng-show="peerForm.$invalid && peerForm.$dirty" class="help_block">IP address required in correct format.</p>
                    <button class="addBtn" ng-click="addNewPeer($event, new_peer_ip)" ng-disabled="peerForm.$invalid"><i class="material-icons">add_circle</i></button>
                </div>
            </form>
            <ul>
                <li>
                    <i class="material-icons">perm_identity</i>
                    <span class="ip_addr">10.0.0.101</span>
                    <span class="status">registered</span>
                    <span class="btns">
                        <i class="material-icons red">remove_circle</i>
                    </span>
                </li>
                <li>
                    <i class="material-icons">perm_identity</i>
                    <span class="ip_addr">10.0.0.102</span>
                    <span class="status">registration-pending</span>
                </li>
                <li>
                    <i class="material-icons">perm_identity</i>
                    <span class="ip_addr">10.0.0.103</span>
                    <span class="status">acceptance-pending</span>
                    <span class="btns">
                        <i class="material-icons green">check_circle</i>
                        <i class="material-icons red">remove_circle</i>
                    </span>
                </li>
                <li>
                    <i class="material-icons">perm_identity</i>
                    <span class="ip_addr">10.0.0.104</span>
                    <span class="status">unregistered</span>
                    <span class="btns">
                        <i class="material-icons green">add_circle</i>
                        <i class="material-icons red">remove_circle</i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div id="new-txn">
        <div class="header">New Transaction</div>
        <div class="body">
            <form class="form" name="form" novalidate role="form">
                <div class="form_elem">
                    <div class="input_elem" ng-class="{ 'has-error' : form.sender.$invalid && form.sender.$dirty }">
                        <label for="sender">Sender</label>
                        <input type="text" name="sender" id="sender" ng-model="txn.sender" required>
                    </div>
                    <p ng-show="form.sender.$invalid && form.sender.$dirty" class="help_block">Sender is required</p>
                </div>
        
                <div class="form_elem">
                    <div class="input_elem" ng-class="{ 'has-error' : form.receiver.$invalid && form.receiver.$dirty }">
                        <label for="receiver">Receiver</label>
                        <input type="text" name="receiver" id="receiver" ng-model="txn.receiver" required>
                    </div>
                    <p ng-show="form.receiver.$invalid && form.receiver.$dirty" class="help_block">Receiver is required</p>
                </div>
        
                <div class="form_elem">
                    <div class="input_elem" ng-class="{ 'has-error' : form.amt.$invalid && form.amt.$dirty }">
                        <label for="amt">Amount</label>
                        <input type = "number" name="amt" id="amt" ng-model="txn.amount"  step=0.001 required>
                    </div>
                    <p ng-show="form.amt.$invalid && form.amt.$dirty" class="help_block">Amount is required</p>
                </div>
                
                <button type="submit" class="secondary" ng-disabled="form.$invalid" ng-click="submit()">Add Transaction</button>
            </form>
        </div>
    </div>
</div>
