<!doctype html>
<html lang="en" ng-app="alysida">
<head>
    <base href="/">        
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>Alysída</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="lib/jquery-ui/themes/smoothness/jquery-ui.css"/>   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="pages/mainPage/css/app.css">

    <script src="https://cdn.socket.io/socket.io-1.4.0.js"></script>
    
</head>

<body ng-controller="MainController" ng-cloak>
    <div id="header_items">

        <!-- <div class="diamond_btn">
            <div class="diamond"></div>
            <div class="wrapper">
                <i class="material-icons">verified_user</i>
                <p class="ip">Register with peers</p>
            </div>
        </div> -->

        <div class="diamond_btn" ng-click="discoverPeers()">
            <div class="diamond"></div>
            <div class="wrapper">
                <i class="material-icons">wifi_tethering</i>
                <p class="ip">Discover Peers</p>
            </div>
        </div>

        <div class="diamond_btn" ng-click="doConsensus()">
            <div class="diamond"></div>
            <div class="wrapper">
                <i class="material-icons">repeat_one</i>
                <p class="ip">Consensus</p>
            </div>
        </div>

        <div class="diamond_btn" ng-click="go('/add-transaction')">
            <div class="diamond"></div>
            <div class="wrapper">
                <i class="material-icons">playlist_add</i>
                <p class="ip">Add New Txn</p>
            </div>
        </div>

        <div class="diamond_btn" ng-click="go('/transactions')">
            <div class="diamond"></div>
            <div class="wrapper">
                <i class="material-icons">library_add</i>
                <p class="ip">Mine New Block</p>
            </div>
        </div>

        <div class="diamond_btn" ng-click="go('/')">
            <div class="diamond"></div>
            <div class="wrapper">
                <i class="material-icons">layers</i>
                <p class="ip">View Blockchain</p>
            </div>
        </div>

        <div id="app-title">
            <div class="diamond"></div>
            <div class="wrapper">
                <h1>Alysída</h1>
                <h3>Web Application</h3>
            </div>
        </div>

    </div>


    <div id="peers" ng-controller="PeersController">
        <div class="peer fade {{ peer.status }}" ng-repeat="peer in peers | orderBy:'status'">
            <i class="material-icons">perm_identity</i>
            <div class="info">
                <div>
                    <p class="ip">{{ peer.peer_ip }}</p>
                    <p class="status">{{ peer.status }}</p>
                </div>
                <div class="peer_action">
                    <button class="accept_btn" ng-click="acceptPeer(peer.peer_ip)">Accept</button>
                    <button class="register_btn" ng-click="registerWithPeer(peer.peer_ip)">Register</button>
                    <button class="ask_btn" ng-click="askPeerForUpdate(peer.peer_ip)">Ask Update</button>
                </div>
            </div>
        </div>
        <div class="peer btn add fade">
            <i class="material-icons">person_add</i>
            <div class="info">
                <p class="ip">Add Peers</p>
            </div>
        </div>
    </div>
    
    <div ng-view class="fadePage"></div>


    <div id="main_loader" ng-show="mainLoading" class="fade">
        <div class="center">
            <div class="spinner" ng-hide="loadingDone">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <p>{{ loading_msg }}</p>
        </div>
    </div>

    <script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="lib/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="lib/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="lib/angular-ui-date/dist/date.js"></script>
    <script type="text/javascript" src="lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="pages/mainPage/js/app.js"></script>

</body>
</html>
