body, html {
    background: rgb(28, 28, 64);
    font-family: Source Sans Pro, sans-serif;
    color: white;
    font-weight: 300;
    text-align: center;
    margin-bottom: 60px;
}

h3 {
    font-size: 48px;
    font-weight: 200;
    margin-bottom: 0;
}

h4 {
    font-size: 24px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    margin-top: 32px;
}

table, td, th {
    border: none;
    border-spacing: 0;
}

tr.culprit {
    background-color: #F06449;
}

tr.invalidated {
    background-color: #b94d38;
    
}

table, tbody {
    background: rgb(46, 45, 87);
}

thead td{
    border-bottom: 1px solid rgba(255,255,255,0.7);
    font-weight: 500;
}

table {
    margin: 40px auto auto auto;
    min-width: 300px;
}

td {
    padding: 16px;
    text-align: left;
    max-width: 150px;
    overflow-x: auto;
    word-wrap: break-word;
}

td:last-child {
    text-align: right;
}

td:nth-child(1) {
    text-align: left !important;
}

.btnWrapper {
    position: relative;
    margin-top: 64px;
}

.btnWrapper a, .btnWrapper input {
    margin: 16px 8px;
    padding: 16px 32px;
    border: none;
    background: #00cdac;
    color: white;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
       -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
         -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
}

.btnWrapper a:hover,
.btnWrapper input:hover {
    background: #ffd200;
}

.btnWrapper a:focus,
.btnWrapper input:focus,
form input {
    outline: none;
}

form input,
form textarea {
    padding: 16px;
    min-width: 300px;
    font-size: 16px;
    border: none;
    background: rgb(64, 63, 121);
    box-sizing: border-box;
    font-weight: 100;
    color: white;
}

form .form-label {
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
}

.node-info-box {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    text-align: left;
    padding: 8px 16px;
}

.node-info-box p {
    margin: 0;
}

.node-info-box p span {
    width: 130px;
    display: inline-block;
}

