<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Alysída: Registered Peers</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
</head>

<body>
    <h3>Registered Peers</h3>
    <div class="btnWrapper" style="margin-top:24px;"><a href="/add-peers">Add Peers</a></div>
    {{ if .Peers}}
        <table>
            <thead>
            <td>Peer IP Address</td>
            <div></div>
            </thead>
            {{range .Peers}}
            <tr><td>{{.}}</td></tr>
            {{end}}
        </table>
    {{else}}
        <h4>No Peers Found. Please add peers.</h4>
    {{end}}
</body>

</html>