<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Alysída: Registration Response</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
</head>

<body>
    <!-- <p>{{$}}</p> -->
    <body>
            <h3>Registeration Response</h3>
                <table>
                    <thead>
                    <td>Peer</td>
                    <td>Response</td>
                    <td style="text-align:left;">Message</td>
                    </thead>
                    {{range $}}
                    <tr>
                        <td>{{.Peer}}</td>
                        <td>{{.Response.Title}}</td>
                        {{ if (eq .Response.Title "Duplicate Entry") }}
                        <td style="text-align:left;">You already exist!</td>
                        {{ else }}
                        <td style="text-align:left;">You have been added!</td>
                        {{ end }}
                    </tr>
                    {{end}}
                </table>
        </body>
</body>


</html>