main {
    background-image: radial-gradient(circle at 47% 9%, #3e825f, #1a4172);
    // min-height: 1200px;
    min-height: 100vh;
    height: 100vh;

    #main-div {
        position: relative;
        display: block;
        padding-top: 64px;
        margin: 0 auto;
        width: 100%;
        height: 100vh;

        .inner-wrapper {
            position: absolute;
            top: 64px;
            left: 0;
            bottom: 0;
            right: 0;

            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-align-items: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
        }

        .col {
            display: inline-block;
            height: 100%;
            width: 100%;

            .inner {
                height: 100%;
            }
        }/* .col */

        home {
            max-width: 320px;
        }

        unconfirmed-txns.col {
            max-width: 400px;
        }

        home,
        unconfirmed-txns,
        blockchain {
            background: rgba(0,0,0,0.2);
            border: 1px solid @green;
            box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
            .header {
                text-shadow: 1px 1px 0 rgba(0,0,0,0.09);
                text-transform: uppercase;
                font-size: 14px;
                padding: 16px;
                color: rgba(255,255,255,0.7);
                font-weight: 400;


                .gradient-bg(@color1, @color2) {
                    background: -webkit-linear-gradient(45deg,@color1,@color2);
                    background: -o-linear-gradient(45deg,@color1,@color2);
                    background: linear-gradient(45deg,@color1,@color2);
                }

                .gradient-bg(darken(@green, 10%), @green);
            }
        }

        home,
        unconfirmed-txns {
            margin-right: 8px;
        }

    }/* #main-div */
}/* main */


@media screen and (max-width: 991px) {
    main #main-div .inner-wrapper{
        top: 51px;
    }/* main */
}/* @media screen and (max-width: 991px) */