<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blockchain | Add Transaction</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
  </head>
   <body>
      <form action = "{{ url_for('register_node') }}" method = "POST">
         <h3>Register New Node</h3>
         <p class="form-label">NodeName</p>
         <input type="text" name="nodename" required></br>
         <p class="form-label">IP</p>
         <input type="text" name="ipaddr" required></br>
         <div class="btnWrapper"><input type="submit" value="Add Transaction"></div>
      </form>
   </body>
</html>