/* ===================================================
 * 1) Colors
 * =================================================== */
/* ===================================================
  * 2) Fonts
  * =================================================== */
/* ===================================================
  * 3) Mixins
  * =================================================== */
/* .diamond_shape  */
html {
  background-color: #F3F3F3;
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #F3F3F3;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  margin: 0;
}
*:focus {
  outline: 0 !important;
}
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
main {
  background-image: radial-gradient(circle at 47% 9%, #3e825f, #1a4172);
  min-height: 100vh;
  height: 100vh;
  /* #main-div */
}
main #main-div {
  position: relative;
  display: block;
  padding-top: 64px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  /* .col */
}
main #main-div .inner-wrapper {
  position: absolute;
  top: 64px;
  left: 0;
  bottom: 0;
  right: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
main #main-div .col {
  display: inline-block;
  height: 100%;
  width: 100%;
}
main #main-div .col .inner {
  height: 100%;
}
main #main-div home {
  max-width: 320px;
}
main #main-div unconfirmed-txns.col {
  max-width: 400px;
}
main #main-div home,
main #main-div unconfirmed-txns,
main #main-div blockchain {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #3e825f;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}
main #main-div home .header,
main #main-div unconfirmed-txns .header,
main #main-div blockchain .header {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.09);
  text-transform: uppercase;
  font-size: 14px;
  padding: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  background: -webkit-linear-gradient(45deg, #2e5f46, #3e825f);
  background: -o-linear-gradient(45deg, #2e5f46, #3e825f);
  background: linear-gradient(45deg, #2e5f46, #3e825f);
}
main #main-div home,
main #main-div unconfirmed-txns {
  margin-right: 8px;
}
/* main */
@media screen and (max-width: 991px) {
  main #main-div .inner-wrapper {
    top: 51px;
  }
  /* main */
}
/* @media screen and (max-width: 991px) */
home {
  /* .body */
  /* #new-txn */
}
home .body {
  overflow-x: hidden;
  overflow-y: scroll;
}
home #users .body {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
}
home #users .body ul {
  list-style: none;
  padding: 0;
  /* li */
}
home #users .body ul li {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 8px;
  padding: 4px 4px 0 4px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  /* .btns */
}
home #users .body ul li:last-child {
  border-bottom: none;
}
home #users .body ul li i.material-icons {
  font-size: 16px;
}
home #users .body ul li span {
  margin: 0;
  top: -3px;
  position: relative;
  margin-left: 5px;
}
home #users .body ul li span.ip_addr {
  font-family: 'Fira Mono', 'Courier New', monospace;
  font-size: 12px;
  font-weight: 700;
}
home #users .body ul li span.status {
  font-size: 10px;
  text-transform: uppercase;
}
home #users .body ul li .btns {
  visibility: visible;
  opacity: 0;
  float: right;
  text-align: right;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
home #users .body ul li .btns i.material-icons {
  cursor: pointer;
  font-size: 20px;
  top: 2px;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
home #users .body ul li .btns i.material-icons.green {
  color: #c0c933;
}
home #users .body ul li .btns i.material-icons.red {
  color: #EE6352;
}
home #users .body ul li .btns i.material-icons:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
home #users .body ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
home #users .body ul li:hover .btns {
  visibility: visible;
  opacity: 1;
}
home #new-txn {
  /* .body */
}
home #new-txn .body {
  padding: 16px;
}
home #new-txn .body form .form_elem {
  position: relative;
}
home #new-txn .body form label {
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.09);
  margin-bottom: 3px;
  margin-top: 12px;
}
home #new-txn .body form input {
  width: 100%;
  height: 36px;
  padding: 8px 5px 8px 10px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  outline: 0;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.1);
}
home #new-txn .body form input:hover,
home #new-txn .body form input:focus {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
home #new-txn .body form button {
  min-width: initial;
  font-size: 10px;
  padding: 16px;
  width: 100%;
  margin: 24px 0 16px 0;
}
home #new-txn .body form .help_block {
  position: absolute;
  right: 2px;
  bottom: -17px;
  font-size: 10px;
  margin: 0;
  color: #EE6352;
  font-style: italic;
}
top-nav {
  margin: 0;
  position: fixed;
  width: 100%;
  padding: 0;
  background: transparent;
  z-index: 9999;
  height: 64px;
  /* .burger-container */
  /* .icon */
  /* @media screen and (max-width: 991px) */
}
top-nav .burger-container {
  position: relative;
  display: inline-block;
  float: right;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  /* #burger */
}
top-nav .burger-container #burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  /* .bar*/
}
top-nav .burger-container #burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #FFF;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
top-nav .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(0px) rotate(0deg);
  transform: translateY(0px) rotate(0deg);
}
top-nav .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg);
}
top-nav .burger-container:hover #burger {
  opacity: 1;
}
top-nav .icon {
  width: 102px !important;
  height: 35px;
  left: 50%;
  top: 14px;
  display: inline-block;
  position: absolute;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
top-nav .icon a {
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #2089C4;
  display: block;
}
top-nav .icon a img {
  max-width: 100%;
  display: block;
  vertical-align: middle;
  border: 0;
}
@media screen and (max-width: 991px) {
  top-nav {
    height: 51px;
    /* .icon */
  }
  top-nav .burger-container {
    visibility: visible;
    opacity: 1;
  }
  top-nav .icon {
    width: 82px !important;
    height: 30px;
    top: 13px;
  }
}
/* top-nav */
bottom-nav {
  display: none;
  margin: 0;
  position: fixed;
  width: 100%;
  padding: 0;
  z-index: 9999;
  height: 51px;
  bottom: 0;
  border-top: 1px solid rgba(62, 130, 95, 0.2);
  /* .nav-items */
}
bottom-nav .nav-items {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /* a */
  /* .vertical-divider */
}
bottom-nav .nav-items a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 16px 32px;
  min-width: 160px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.3);
}
bottom-nav .nav-items a:hover,
bottom-nav .nav-items a:focus {
  color: #3e825f;
  background-color: rgba(0, 0, 0, 0.5);
}
bottom-nav .nav-items .vertical-divider {
  display: block;
  border-right: 1px solid rgba(62, 130, 95, 0.2);
  height: 52px;
  width: 2px;
}
/* bottom-nav */
html,
body {
  background: #000000;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html *:before,
html *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42857143;
  overflow-x: hidden;
  margin: 0;
}
body app {
  position: relative;
  display: block;
}
*:focus {
  outline: 0 !important;
}
button,
.button {
  font-size: 12px;
  text-transform: uppercase;
  padding: 16px 40px;
  min-width: 224px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 1px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  margin: 7px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
button:hover,
.button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
}
button.secondary,
.button.secondary {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
button.secondary:hover,
.button.secondary:hover {
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
